In [1]:
import os
print(os.getcwd())

D:\DE_PROJECT

In [2]:
# project using bigdata file in python

In [3]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [4]:
# Above modules help to create PBI visual Embed Object In Notebook

In [5]:
from pathlib import Path
import pandas  as pd
import glob
import os

In [6]:
# Use pbi Client for PBI embed Visuals to note book

In [7]:
file_path = Path("D:\data")
file_list = glob.glob(str(file_path) +r"\*csv")
file_name = file_path/file_list[0] # we can just write path object
print(file_name)

D:\data\web_logs.csv

In [8]:
with file_name.open("r") as data_file:
    header = data_file.readline()
    print(header)
    #print(data_file.tell())
    i = 0
    data_file.seek(0)
    for line in data_file:
        i = i +1
        if i < 8:
            print(line)
        else:
            break

_id,ip,host,country,city,webpage,os,browser,other,date

_id,ip,host,country,city,webpage,os,browser,other,date

65449f0b2b60807313d8f167,202.186.194.157,202.186.194.157,Malaysia,Shah Alam,https://asnitours.com/home?,Windows 8,Chrome,"Mozilla/5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36",2020-05-19 16:06:27

6544a8e3d0ca21ba1f56c860,94.197.152.128,94.197.152.128.threembb.co.uk,,,https://www.travelyamu.com/home?,Mac OS X,Chrome,"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36",2023-11-03 16:01:39

6544a91b9ddfb6b2f2b4fff5,114.119.142.179,petalbot-114-119-142-179.petalsearch.com,,,https://www.travelyamu.com/products-search?chained_relative=Sri%20Lanka&prod_type=Multi-day%20~%20Extended%20Tours&flexdatalist-chained_relative=%20Singapore&url_cur=gbp,Android,Handheld Browser,"Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/537.36 (KHTML, like Gecko) Mobile Safari/537.36 (compatible; PetalBot;+https://webmaster.petalsearch.com/site/petalbot)",2023-11-03 16:02:34

6544a9579ddfb6b2f2b50029,114.119.142.232,petalbot-114-119-142-232.petalsearch.com,,,https://www.travelyamu.com/products-search?chained_relative&prod_type=Walking%20~%20Biking%20Tours&flexdatalist-chained_relative=%20Sri%20Lanka,Android,Handheld Browser,"Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/537.36 (KHTML, like Gecko) Mobile Safari/537.36 (compatible; PetalBot;+https://webmaster.petalsearch.com/site/petalbot)",2023-11-03 16:03:35

6544a986d0ca21ba1f56c932,114.119.142.135,petalbot-114-119-142-135.petalsearch.com,,,"https://www.travelyamu.com/products-search?chained_relative=Indonesia&prod_type=Transfers%20~%20Ground%20Transport&flexdatalist-chained_relative=penang,%20Malaysia&url_cur=myr",Android,Handheld Browser,"Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/537.36 (KHTML, like Gecko) Mobile Safari/537.36 (compatible; PetalBot;+https://webmaster.petalsearch.com/site/petalbot)",2023-11-03 16:04:22

6544a9e49ddfb6b2f2b50140,114.119.149.171,petalbot-114-119-149-171.petalsearch.com,,,https://www.travelyamu.com/products-search?chained_relative=Indonesia&prod_type=Multi-day%20~%20Extended%20Tours&flexdatalist-chained_relative=%20Singapore&url_cur=eur,Android,Handheld Browser,"Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/537.36 (KHTML, like Gecko) Mobile Safari/537.36 (compatible; PetalBot;+https://webmaster.petalsearch.com/site/petalbot)",2023-11-03 16:05:56

In [9]:
# so Identify total Size of Csv file
size = int(os.path.getsize("D:\data\web_logs.csv")) 
print(f"file size is {round(size / 10**9 ,3)}"+" GB")

file size is 4.4 GB

display one chunk

In [11]:
chunks = pd.read_csv(file_name , chunksize= 100000)
for chunk in chunks:
    chunk.to_excel(file_path/"sample.xlsx",index=False)
    display(chunk.head(100))
    break

,_id,ip,host,country,city,webpage,os,browser,other,date
0,65449f0b2b60807313d8f167,202.186.194.157,202.186.194.157,Malaysia,Shah Alam,https://asnitours.com/home?,Windows 8,Chrome,Mozilla/5.0 (Windows NT 6.2; Win64; x64) Apple...,2020-05-19 16:06:27
1,6544a8e3d0ca21ba1f56c860,94.197.152.128,94.197.152.128.threembb.co.uk,NaN,NaN,https://www.travelyamu.com/home?,Mac OS X,Chrome,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,2023-11-03 16:01:39
2,6544a91b9ddfb6b2f2b4fff5,114.119.142.179,petalbot-114-119-142-179.petalsearch.com,NaN,NaN,https://www.travelyamu.com/products-search?cha...,Android,Handheld Browser,Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/...,2023-11-03 16:02:34
3,6544a9579ddfb6b2f2b50029,114.119.142.232,petalbot-114-119-142-232.petalsearch.com,NaN,NaN,https://www.travelyamu.com/products-search?cha...,Android,Handheld Browser,Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/...,2023-11-03 16:03:35
4,6544a986d0ca21ba1f56c932,114.119.142.135,petalbot-114-119-142-135.petalsearch.com,NaN,NaN,https://www.travelyamu.com/products-search?cha...,Android,Handheld Browser,Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/...,2023-11-03 16:04:22
...,...,...,...,...,...,...,...,...,...,...
95,6544b1ec9ddfb6b2f2b50b6c,217.182.175.187,ns3095478.ip-217-182-175.eu,NaN,NaN,https://www.travelyamu.com/products-search?cha...,-,Unknown Browser,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,2023-11-03 16:40:12
96,6544b1ef9ddfb6b2f2b50b6e,114.119.139.26,petalbot-114-119-139-26.petalsearch.com,NaN,NaN,https://www.travelyamu.com/products-search?cha...,Android,Handheld Browser,Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/...,2023-11-03 16:40:15
97,6544b1f1d0ca21ba1f56d3d9,217.182.175.187,ns3095478.ip-217-182-175.eu,NaN,NaN,https://www.travelyamu.com/products-search?cha...,-,Unknown Browser,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,2023-11-03 16:40:16
98,6544b1f49ddfb6b2f2b50b6f,217.182.175.187,ns3095478.ip-217-182-175.eu,NaN,NaN,https://www.travelyamu.com/products-search?cha...,-,Unknown Browser,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,2023-11-03 16:40:20
99,6544b1f9d0ca21ba1f56d3da,217.182.175.187,ns3095478.ip-217-182-175.eu,NaN,NaN,https://www.travelyamu.com/products-search?cha...,-,Unknown Browser,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,2023-11-03 16:40:25

In [12]:
# Group BY IP and all Other feild take record_count by id
# check How much Data amount Is reduced
# and Test for furthure analysis

In [13]:
chunks = pd.read_csv(file_name , chunksize= 100000,low_memory=False)
for chunk in chunks:
    headers = list((chunk.columns))
    chunk["Year"] = chunk["date"].str[:4]  # This is expecting series here we cannot use loc because assing new column
    print (chunk)
    break

print(headers)

                            _id               ip  \
0      65449f0b2b60807313d8f167  202.186.194.157
1      6544a8e3d0ca21ba1f56c860   94.197.152.128
2      6544a91b9ddfb6b2f2b4fff5  114.119.142.179
3      6544a9579ddfb6b2f2b50029  114.119.142.232
4      6544a986d0ca21ba1f56c932  114.119.142.135
...                         ...              ...
99995  6544cfc12b60807313da7d22    66.249.75.109
99996  6544cfc12b60807313da7d23    66.249.75.109
99997  6544cfc12b60807313da7d24    66.249.75.109
99998  6544cfc12b60807313da7d25    66.249.75.111
99999  6544cfc12b60807313da7d26    66.249.75.111

                                           host        country           city  \
0                               202.186.194.157       Malaysia      Shah Alam
1                 94.197.152.128.threembb.co.uk            NaN            NaN
2      petalbot-114-119-142-179.petalsearch.com            NaN            NaN
3      petalbot-114-119-142-232.petalsearch.com            NaN            NaN
4      petalbot-114-119-142-135.petalsearch.com            NaN            NaN
...                                         ...            ...            ...
99995         crawl-66-249-75-109.googlebot.com  United States  Mountain View
99996         crawl-66-249-75-109.googlebot.com  United States  Mountain View
99997         crawl-66-249-75-109.googlebot.com  United States  Mountain View
99998         crawl-66-249-75-111.googlebot.com  United States  Mountain View
99999         crawl-66-249-75-111.googlebot.com  United States  Mountain View

                                                 webpage         os  \
0                            https://asnitours.com/home?  Windows 8
1                       https://www.travelyamu.com/home?   Mac OS X
2      https://www.travelyamu.com/products-search?cha...    Android
3      https://www.travelyamu.com/products-search?cha...    Android
4      https://www.travelyamu.com/products-search?cha...    Android
...                                                  ...        ...
99995  https://www.travelyamu.com/confirm?c=UGQ0OUlVd...    Android
99996  https://www.travelyamu.com/confirm?c=V0dDZ2YzL...    Android
99997  https://www.travelyamu.com/confirm?c=TmxkQ2pRN...    Android
99998  https://www.travelyamu.com/confirm?c=ZldNT3FaY...    Android
99999  https://www.travelyamu.com/confirm?c=dlo2cnpyc...    Android

                browser                                              other  \
0                Chrome  Mozilla/5.0 (Windows NT 6.2; Win64; x64) Apple...
1                Chrome  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
2      Handheld Browser  Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/...
3      Handheld Browser  Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/...
4      Handheld Browser  Mozilla/5.0 (Linux; Android 7.0;) AppleWebKit/...
...                 ...                                                ...
99995  Handheld Browser  Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Bu...
99996  Handheld Browser  Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Bu...
99997  Handheld Browser  Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Bu...
99998  Handheld Browser  Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Bu...
99999  Handheld Browser  Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Bu...

                      date  Year
0      2020-05-19 16:06:27  2020
1      2023-11-03 16:01:39  2023
2      2023-11-03 16:02:34  2023
3      2023-11-03 16:03:35  2023
4      2023-11-03 16:04:22  2023
...                    ...   ...
99995  2020-09-06 01:40:48  2020
99996  2020-09-06 01:40:53  2020
99997  2020-09-06 01:40:54  2020
99998  2020-09-06 01:41:04  2020
99999  2020-09-06 01:41:08  2020

[100000 rows x 11 columns]
['_id', 'ip', 'host', 'country', 'city', 'webpage', 'os', 'browser', 'other', 'date']

In [14]:
# But since this is date and time here we use datetime in pandas

In [15]:
# chunks = pd.read_csv(file_name , chunksize= 100000 ,low_memory=False)
# master_df = pd.DataFrame(columns = headers)
# print(master_df)
# for temp_df in chunks:
#     new_df = temp_df.groupby(headers[1:],dropna  = False ).count()[['_id']].reset_index()
#     master_df=pd.concat([master_df,new_df],axis=0,ignore_index=True)

# feild Meaning
_id: This is a unique identifier for each record, likely used to ensure each entry in the database is distinct.

ip: This is the IP address of the user or bot that accessed the webpage. IP addresses are numerical labels assigned to devices connected to a network.

host: This field usually contains the hostname associated with the IP address. A hostname is a human-readable label that corresponds to an IP address, often used to identify devices on a network.

country: This indicates the country from which the IP address is registered or the access is made.

city: This shows the city associated with the IP address or where the access originated.

webpage: This is the URL of the webpage that was accessed.

os: This represents the operating system used by the device accessing the webpage (e.g., Windows 8, Mac OS X, Android).

browser: This indicates the web browser used to access the webpage (e.g., Chrome, Handheld Browser).

other: This field typically contains additional information about the user agent string, which provides details about the browser and operating system version, and sometimes the device type.

date: This is the timestamp of when the access occurred, formatted as YYYY-MM-DD HH:MM:SS.

In [17]:
# I am going to seperated log file in to each Year

In [18]:
year_list = []
chunks = pd.read_csv(file_name , chunksize= 100000,low_memory=False)
for chunk in chunks:
    headers = list((chunk.columns))
    chunk["date"] = pd.to_datetime(chunk["date"]) # This is expecting series here we cannot use loc because assing new column
    chunk["Year"] = chunk["date"].dt.year
    A = list(chunk["Year"].unique())
    year_list = year_list+A
year_list = list(set(year_list))
print(year_list)
print(headers)

[2020, 2021, 2022, 2023, 2024]
['_id', 'ip', 'host', 'country', 'city', 'webpage', 'os', 'browser', 'other', 'date']

In [19]:
# concatinate seperate dataframe to each year and sort by time stamp
# store in four data Frames

df_list = []
for y in year_list:
    df = pd.DataFrame(columns=headers)
    chunks = pd.read_csv(file_name , chunksize= 100000,low_memory=False)
    for chunk in chunks:
        headers = list((chunk.columns))
        chunk["date"] = pd.to_datetime(chunk["date"])
        chunk["Year"] = chunk["date"].dt.year
        tempdf = chunk.loc[chunk["Year"] == y]
        tempdf=tempdf.sort_values(['ip',"date"] , ascending=True)
        df = pd.concat([df,tempdf],ignore_index=True)
    df_list.append(df)

In [20]:
process_list =[]
for df in df_list:
    
    new_df = df.iloc[:,1:] # Remove id column 
    new_df["exact_date"] = new_df['date'].dt.date # add date only column
    new_df["month"] = new_df['date'].dt.month # add Month Column
    new_df["round_time"] = pd.to_datetime(new_df['date'], errors='coerce').dt.floor('15T') # round all time stamp to near 15 min
    sub_df = new_df.drop(columns=['date']) # drop original Time stamp
    sub_df = sub_df.drop_duplicates()
    process_list.append(sub_df)

In [21]:
# so It is required to define visit and asing data in to new DF with unique visit 
# assing Time Threshold as 15 min so all visit minitues are keep round up to approximate 15 min

In [22]:
for i in range(len(df_list)):
    print(f'{i} th {df_list[i].shape} vs {process_list[i].shape}')

0 th (204690, 11) vs (182844, 12)
1 th (442632, 11) vs (404153, 12)
2 th (5744497, 11) vs (5693601, 12)
3 th (3262348, 11) vs (3021596, 12)
4 th (1401608, 11) vs (1279032, 12)

In [23]:
# So Now we Have process Data Frame wich Can Be used to define vist
process_list[0].columns

Index(['ip', 'host', 'country', 'city', 'webpage', 'os', 'browser', 'other',
       'Year', 'exact_date', 'month', 'round_time'],
      dtype='object')

In [24]:
# So Unique 'ip', 'host', 'country', 'city', 'webpage', 'os', 'browser', 'other','Year', 'exact_date', 'round_time' 
# can Consider as a unique visit

In [25]:
save_df = process_list[0]
save_df.to_excel(file_path/"save_df1.xlsx",index=False)

In [26]:
# Year # Month # Country # City # No of Visit We can See trend of visit accorss the countries
# ['ip', 'host', 'country', 'city', 'webpage', 'os', 'browser', 'other','Year', 'exact_date', 'month', 'round_time']
annual_geo_visit_list = []
for tdf in process_list:
    newdf = tdf.groupby(['Year','month','country','city'],dropna = False).count().reset_index().iloc[:,:5]
    newdf = newdf.rename(columns = {"ip":"visit"})
    #display(newdf)
    #display(newdf.loc[(newdf["country"] =="Australia") & (newdf["city"] =="Canberra") & (newdf["month"] == 7)])
    annual_geo_visit_list.append(newdf)

In [27]:
# Some Aggrigated Function
# IPCount = tdf[["ip"]].count(axis=0)
#    IPUniqueCount = tdf[["ip"]].nunique(axis=0)
#    print(IPCount ,IPUniqueCount )

In [28]:
# concat all the df
location_visit_df = pd.concat(annual_geo_visit_list)
display(location_visit_df)

      Year  month        country                       city   visit
0   2020.0      5      Australia                   Canberra       1
1   2020.0      5      Australia                     Sydney       2
2   2020.0      5        Austria  Klagenfurt am WÃ¶rthersee       1
3   2020.0      5         Brunei        Bandar Seri Begawan       1
4   2020.0      5       Cambodia                 Phnom Penh       1
..     ...    ...            ...                        ...     ...
95  2024.0      5  United States                 Menlo Park      68
96  2024.0      5  United States                     Pinole       8
97  2024.0      5  United States              San Francisco       2
98  2024.0      5  United States                    Vallejo       8
99  2024.0      5            NaN                        NaN  486643

[5071 rows x 5 columns]

In [29]:
location_visit_df.loc[(location_visit_df["country"].isna() == False) & (location_visit_df["city"].isna()== False)]

      Year  month        country                       city  visit
0   2020.0      5      Australia                   Canberra      1
1   2020.0      5      Australia                     Sydney      2
2   2020.0      5        Austria  Klagenfurt am WÃ¶rthersee      1
3   2020.0      5         Brunei        Bandar Seri Begawan      1
4   2020.0      5       Cambodia                 Phnom Penh      1
..     ...    ...            ...                        ...    ...
94  2024.0      5  United States                   Berkeley     12
95  2024.0      5  United States                 Menlo Park     68
96  2024.0      5  United States                     Pinole      8
97  2024.0      5  United States              San Francisco      2
98  2024.0      5  United States                    Vallejo      8

[4955 rows x 5 columns]

In [30]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [31]:
#device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code GHCZA3L9N to authenticate.

RuntimeError: Authentication failed. Try again.
Details: AADSTS70020: The provided value for the input parameter 'device_code' is not valid. This device code has expired. Trace ID: cd8512e9-b0af-4d18-80c8-59d672ce5e00 Correlation ID: 709b3c11-6a1d-495d-83fb-a5ecf44510b2 Timestamp: 2024-08-10 14:16:16Z

In [ ]:
# Create PBI visual from Data
#PBI_visualize = QuickVisualize(get_dataset_config(location_visit_df),auth=device_auth)

In [ ]:
#PBI_visualize

In [ ]:
#location_visit_df.to_excel(r"D:\data\vist_df.xlsx")